@charset "utf-8";
/* CSS Document */

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {margin-top: 0;}
to {margin-top: -50px;}
}

@-webkit-keyframes paraEsq /* Safari and Chrome */
{
from {margin-left: 0;}
to {margin-left: -50px;}
}

body { font-family: "MS Trebuchet", arial; font-size:10px; }

#container { width: 1000px; margin:0 auto; }

#topo, #rodape { width: 100%; /* temp */background-color: darkslategray;/* /temp */ }

#topo { height:0px; }

#rodape { height:10px; }

#meio { height: 600px; width: 100%; display:block; position:relative;}

#statusplayer1,#statusplayer2 { 
	float:left; 
	width:200px;
	height: 25px; 
	position:absolute; 
	top:0px; 
	z-index:1; 
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
	/* temp */background-color: blue;/* /temp */ 
}
#statusplayer1 { left:25px; }
#statusplayer2 { left:775px; }

#cenario { 
	float:left; 
	width: 1000px; 
	height:100%; 
	position: relative; 
	background:url(../imgs/grassTile.jpg);
}

#hits { float:left; width: 1000px; height:100%; position: absolute; top: 0; left: 0; overflow:hidden;}

#player1, #player2 { width:50px; height:50px; position: absolute; top:0px; left:0px; }
#player1{/* temp */background-color: darkred;/* /temp */}
#player2{/* temp */background-color: darkblue;/* /temp */}

.hit1, .hit2 { 
	display:inline;
	font-weight: bold;
	font-size: 24px;
	float:left;
	position:absolute;
	-webkit-animation: myfirst 5s; /* Safari and Chrome */
}
.hit1 { color: white; }
.hit2 { color: darkblue; }
div[class^=hit] { width:50px; height: 50px; }

#statusplayer1 ul, #statusplayer2 ul { list-style:none; padding:0; margin:5px ;}
#statusplayer1 ul li, #statusplayer2 ul li { font-weight: bold; color: white; margin: 0 20px; float: left;}
#lifeplayer1,#lifeplayer2,#manaplayer1,#manaplayer2 { font-weight: bold; color: white; }

/* Style dos poderes */

.tile {
	height:50px;
	width: 50px;	
	position: absolute;
	}

.fire {
	background:url(../imgs/fireTile.gif);
	
	}